/*-------全局 样式（覆盖bootstrap）----------*/
.badge {
	font-weight: 500;
}
a {
	color: #1976d2;
}
/*-------dend 全局样式----------------------*/



body {
	font-family: "微软雅黑", "microsoft yahei";
	background-color: #EEE;
}
dl,
h3,
menu,
ol,
p,
pre,
ul {
	margin: 1em 0;
}
.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}
.logo {
	color: white;
	font-weight: 700;
	float: left;
}
.slogo {
	float: left;
	margin-left: 3px;
	padding-top: 11px;
	color: #90caf9;
	margin-bottom: 10px;
}
.login {
	margin-top: -10px;
}
.descript {
	color: #fff;
	background: #1464c1;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	max-width: 270px;
	float: left;
	text-align: center;
}
.search input {
	height: 30px;
	border: none;
	border: 1px solid #1464c1;
}
#header {
	background: #1876d3;
}
#footer {
	color: #757575;
}
.nav>li>a {
	color: #fff;
}
.nav>li>a:focus,
.nav>li>a:hover {
	background-color: #1876d3;
	padding-bottom: 10px;
	border-bottom: 4px solid #7cb342;
}
.dropdown li {
	padding: 4px;
	border: 0;
}
.dropdown-menu li {
	overflow: hidden;
	position: relative;
}
.dropdown-menu li:hover {
	background-color: #f1f1f1;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
	background-color: transparent;
	color: #009688;
}
.dropdown li:not(:last-child) {
	border-bottom: 1px solid #F1F1F1;
}
.btn {
	position: relative;
	padding: 8px 30px;
	border: 0;
	margin: 8px 1px;
	cursor: pointer;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(255, 255, 255, .84);
	transition: background-color .2s ease, box-shadow .28s cubic-bezier(.4, 0, .2, 1);
	outline: none!important;
}
.btn:hover {
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
}
.btn-material-blue-400 {
	background-color: #42a5f5;
	color: rgba(255, 255, 255, .84);
}
.btn-material-blue-400:hover,
.btn-material-blue-400:focus {
	color: rgba(255, 255, 255, .84);
	background-color: #55aef6;
}
.btn-material-light-green-600 {
	background-color: #7cb342;
	color: rgba(255, 255, 255, .84);
}
.btn-material-light-green-600:hover,
.btn-material-light-green-600:focus {
	color: rgba(255, 255, 255, .84);
	background-color: #86bd4c;
}
.search>i.fa-search {
	position: absolute;
	top: 8px;
	margin-left: -24px;
	color: rgba(120, 180, 60, 0.8);
}
@media (min-width: 768px) and (max-width: 991px) {}
/*---------- 以下 面板 ---------------*/
.main-base {
	padding: 0;
}
.bg-info {
	/*公用圆角白底 上下15px外边距*/

	margin: 15px 0;
	position: relative;
	background-color: white;
	border-radius: 5px;
	padding: 0px;
}
.info-base {
	padding: 15px;
}
.info-base:before {
	content: '';
	display: block;
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	height: 1px;
	background: #bdbdbd;
	z-index: 1;
}
.side-base {
	padding-right: 0px;
}
.info-tit {
	margin-top: -4px;
	color: #424242;
	font-size: 16px;
	margin-bottom: 21px;
}
.info-tit i {
	color: #bdbdbd;
}
/*------- 以下 tab ----------------*/

.cate {
	margin-top: -4px;
}
.cate li {
	position: relative;
	z-index: 1;
	float: left;
	border-radius: 5px 5px 0 0;
}
.cate li a {
	color: #1976d2;
	text-decoration: none;
	display: block;
	padding: 3px 15px;
	font-size: 16px;
}
.cate li.active {
	border: 1px solid #bdbdbd;
	border-bottom: 1px solid #fff;
}
.cate li.active a {
	color: #424242;
}
.cate>a {
	margin-top: -6px;
	padding: 5px 10px;
}
li.new-article a {
	margin: -2px 0;
	color: #fff;
}
li.post-style a {
	color: #757575;
	background-color: rgb(230, 230, 230);
	padding: 3px 8px;
	border-radius: 3px;
	margin: -2px 0;
	margin-left: 5px;
}
/*----- tag -------*/

.tag li {
	float: left;
	padding: 3px 5px;
}
.badge {
	border-radius: 5px;
	padding: 5px 8px;
}
.badge-success {
	background-color: #7cb342;
	font-weight: 500;
}
.post-list .post {
	margin: 0px -15px;
	padding: 10px 15px;
	border-top: 1px solid #F1F1F1;
}
.post-list :first-child {
	border-top: none;
}
.post-list>div:hover {
	background-color: #f7f7f7;
}
.post-list .post-content {
	display: none;
}
.post-head {
	margin-bottom: 3px;
}
.post-head a {
	font-size: 18px;
}
.post-head a span {
	padding-right: 5px;
}
.post-head>i {
	height: 20px;
	line-height: 20px;
	color: #e57373;
}
.post-content p {
	margin: 10px 0;
}
.post-footer {
	color: #757575;
}
.post-footer span,
.post-footer a {
	margin-right: 5px;
}
.post-footer a {
	text-decoration: underline;
}
.post-footer a.post-badge {
	text-decoration: none;
	padding: 0 3px;
	border-radius: 3px;
	color: #448aff;
}
.post-footer a.post-badge:hover {
	background: #e0e0e0;
}
.post-footer span {color: #757575;}
.post-footer .fa-user {
	color: #8bc34a;
}
.post-footer .fa-edit,
.post-footer .fa-reply {
	color: #bdbdbd;
}
/*----------- 以下 右侧TOP10列表-------------------*/

.top10 {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}
.top10 li {
	margin: 0 -15px;
	padding: 0 15px;
	position: relative;
	border-bottom: 1px solid #eee;
}
.top10 li:hover {
	background-color: #f7f7f7;
}
.top10 li:last-child {
	border-color: transparent;
}
.top10 li a {
	display: block;
	height: 36px;
	line-height: 36px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.top10 li:first-child,
.top10 li:nth-child(2),
.top10 li:nth-child(3) {
	color: #f57f17;
}
.top10 li:first-child a,
.top10 li:nth-child(2) a,
.top10 li:nth-child(3) a {
	color: #f44336;
}
/*-------以下 友情链接 ----------------*/

.index-link:after {
	content: '';
	height: 0px;
	line-height: 0px;
	display: block;
	clear: both;
}
.index-link a {
	display: block;
	max-width: 100%;
	margin-bottom: 10px;
}
.index-link a:last-child {
	margin-bottom: 0;
}
.index-link a img {
	max-width: 100%;
}
/*-------log panel---------*/
.login .dropdown li a{
	color: #1876d3;
}
.login>ul{
	margin-top: 7px;
}
.login .dropdown >span{
	padding: 2px;
	/*vertical-align: middle;*/
}
.login .user-header>img{
	width: 42px;
	height: 42px;
	border-radius: 3px;
}
.header-user {
	color: #fff;
	margin-left: 5px;
	font-size: 16px;
}
.login>ul>li>a:hover{
	border: none;
}
/*----------以下 作者/个人信息 面板 ------------*/
.profile {
	padding-left: 81px;
	position: relative;
}
.profile img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	height: 66px;
	border-radius: 3px;
}
.profile .user-name {
	font-size: 16px;
	margin-right: 5px;
}
.profile .fa-male {
	color: #82b1ff;
}
.profile .fa-female {
	color: #ef9a9a;
}
.profile .jobs {
	margin-top: 4px;
	margin-bottom: 4px;
	display: block;
	width: 100%;
	font-size: 12px;
	color: #616161;
}
.profile-info {
	margin-bottom: 0;
}
.profile-info dt {
	font-weight: 500;
	color: #757575;
}
.profile-info dd {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*----------以下 设置 面板-----------*/
.settings a {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	display: block;
	padding: 0 15px;
	margin: 0 -15px;
	padding-left: 30px;
	border-bottom: 1px solid #eee;
}
.settings a:hover {
	background: #f7f7f7;
}
.settings a:last-child {
	border-color: transparent;
}
.settings a.active {
	color: #757575;
}
.settings a.active:hover {
	background: transparent;
}
/*----------以下分页样式------------*/
.page-base:after {
	content: '';
	display: block;
	line-height: 0px;
	height: 0px;
	clear: both;

}
.page-ctrl {
	float: left;
	padding-right: 5px;
}
.page-ctrl:after {
	content: '';
	display: block;
	line-height: 0px;
	height: 0px;
	clear: both;
}
.page-ctrl a {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	display: block;
	float: left;
	background: #fff;
	font-size: 16px;
	text-decoration: none;
	border-right: 1px solid #eee;
}
.page-ctrl a:first-child {
	border-radius: 5px 0 0 5px;
}
.page-ctrl a:last-child {
	border-radius: 0 5px 5px 0;
}
.page-ctrl a:hover {
	background: #f7f7f7;
}
.page-ctrl a.active {
	color: #757575;
}
.page-ctrl a.active:hover {
	background: #fff;
}
